@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.hamburger--is-toggled span:first-child,
	.hamburger--is-toggled span:last-child {
		@apply w-0 left-1/2;
	}
	.hamburger--is-toggled span:nth-child(2) {
		@apply rotate-45;
	}
	.hamburger--is-toggled span:nth-child(3) {
		@apply -rotate-45;
	}
	textarea:required + label::after,
	input:required + label::after {
		content: " *";
	}
	.is-visited label,
	.visited label {
		@apply transform top-0 bg-white -translate-y-1/2 text-sm;
	}

	.is-invalid label {
		@apply text-yellow-500 bg-white transform top-0 -translate-y-1/2 text-sm;
	}
	.is-focused label {
		@apply transform translate-y-0 text-sm;
	}

	.is-visited:not(.is-invalid, .is-focused) {
		@apply border-green-500 text-green-500;
	}

	.is-visited {
		@apply border border-black text-gray-500;
	}
	.is-invalid {
		@apply border-yellow-500;
	}

	.is-focused {
		@apply border border-black;
	}

	textarea:focus {
		@apply text-gray-600;
	}

	input:focus-within + label,
	textarea:focus-within + label {
		@apply top-0 -translate-y-1/2 text-gray-800 bg-white;
	}
}

@layer utilities {
	.scrollbar-hidden::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.scrollbar-hidden {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

/* RATING LIST */
.starlist button svg path:last-child {
	@apply opacity-0;
}

.starlist button:hover svg path:last-child,
.starlist button:hover ~ button svg path:last-child {
	@apply opacity-100;
}

.starlist button.selected svg path:last-child,
.starlist button.selected ~ button svg path:last-child {
	@apply opacity-100;
}
